!!!

%html{lang: :ru}
  %head
    %meta{charset: 'utf-8'}
    %title API-доступ к почтовым индексам России.
    %link{rel: 'stylesheet', href: '/stylesheet.css'}
    %link{rel: 'icon', type: 'image/png', href: url('/favicon.png')}
    %meta{name: :keyword, content: 'Почтовый индекс, почтовые индексы, JSON, API'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'}
  %body
    #wrap_outer
      #wrap_inner
        %header
          %h1 <a href="#{to '/'}">Почтовые индексы Российской Федерации <span>в машиночитаемом виде.</span></a>
        %section#main
          %nav.breadcrumbs= breadcrumbs
          = yield
        %menu#regions
          %h2 По регионам
          - PostIndex.reorder(:region).pluck(:region).uniq.reject{|r| r.empty?}.each do |region|
            %li <a href="#{to "/#{region}"}">#{region}</a>
        .google_adsense= erb :adsense if settings.production?
    #footer_wrap
      %footer
        .about
          %p База данных взята у <a href="http://info.russianpost.ru/database/ops.html">ФГУП Почта России</a>. Все права (и обязанности) на данную информацию принадлежат им.
        .feedback
          %p Разработка: <a href="http://envek.name/ru/">Новиков Андрей</a>.
          %p Идеи, предложения, пожелания, претензии, благодарности и прочее просьба писать на адрес <a href="mailto:envek+postindexapi.ru@envek.name">envek+postindexapi.ru@envek.name</a>
          %p Исходный код открыт. Отчёты по ошибкам, ваши идеи и дополнения принимаются в Github-репозитории <a href="https://github.com/Envek/postindexapi.ru">Envek/postindexapi.ru</a>.